@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-montserrat;
	}

	body {
		@apply bg-primary;
	}

	h1 {
		@apply text-xl font-medium capitalize;
	}
}

.link {
	@apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
	@apply bg-slate-700 text-slate-300;
}

.gradient-text {
	background: linear-gradient(to right, #eedd44, #e05900);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	line-height: 65px;
}

.imgCarousel {
	@apply w-auto h-[60px] px-[15px] inline-block;
}
